@model List<Metizsoft.Service.Models.RetailerMst_mst>


<div class="box-body table-scrollable1">
    <table id="ListDataTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                @*<th class="nosort"> retailer name</th>*@
                <th class="">Action</th>
                <th class="nosort">User Type</th>
                <th class="nosort">First Name</th>
                <th class="nosort">Last Name</th>
                <th class="nosort">Address</th>
                <th class="nosort">SubArea</th>
                <th class="nosort">State</th>
                <th class="nosort">City</th>
                <th class="nosort">Zip</th>
                <th class="nosort">Office Phone</th>
                <th class="nosort">Mobile</th>
                <th class="nosort">Email</th>
                <th class="nosort">Division Name</th>
                <th class="nosort">Fax</th>
                <th class="nosort">Dob</th>
                <th class="nosort">Dow</th>
                <th class="nosort">ContactName</th>
                <th class="nosort">Refrence</th>
                <th class="nosort">GradeName</th>
                <th class="nosort">ShortName</th>
                <th class="nosort">RetailerCode</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row" @item.ReatailerId>
                    <td>
                        <a style="cursor:pointer;" class="btnedit" data-id="@item.ReatailerId" data-uid="@item.Usertype">Edit</a>
                        <a style="cursor:pointer;" class="btndelete" data-id="@item.ReatailerId" data-uid="@item.Usertype" data-active="@item.IsActive">Delete</a>

                    </td>

                    @if (item.Usertype.ToString() == "1")
                    {
                        <td>Chemist</td>
                    }
                    else
                    {
                        <td>Stockist</td>
                    }

                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.SubArea
                    </td>
                    <td>
                        @item.State
                    </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.Zip
                    </td>
                    <td>
                        @item.OfficePhone
                    </td>
                    <td>
                        @item.Mobile
                    </td>
                    <td>
                        @item.Email
                    </td>
                    @*@if (item.DivName == 1)
                        {
                            <td> Blaze </td>
                        }
                        else if (item.DivName == 2)
                        {
                            <td> Magnar </td>
                        }
                        else
                        {
                            <td> </td>
                        }*@
                    <td>
                        @item.DivName
                    </td>
                    <td>
                        @item.Fax
                    </td>
                    <td>
                        @item.strDob
                    </td>
                    <td>
                        @item.strAnniversary
                    </td>
                    <td>
                        @item.ContactName
                    </td>
                    <td>
                        @item.Refrence
                    </td>
                    @if (item.GradeName == 1)
                    {
                        <td> VP </td>
                    }
                    else if (item.GradeName == 2)
                    {
                        <td> VIP </td>
                    }
                    else if (item.GradeName == 3)
                    {
                        <td> VVIP </td>
                    }
                    else
                    {
                        <td> </td>
                    }
                    <td>
                        @item.ShortName
                    </td>
                    <td>
                        @item.RetailerCode
                    </td>
                   
                </tr>
            }
        </tbody>

    </table>
    <div id="Notfound" style="text-align:center; display:none;"><p>No Record Found</p></div>
</div>


<script>
    $("#ListDataTable").DataTable({
        "scrollX": true
    });
</script>
<script>
    $(document).on('click', ".btnedit", function () {
        debugger;
        var RetailerId = $(this).attr("data-id");
        var url = "/Retailer/RetailerCreate?Identity=" + RetailerId;
        window.location.href = url;
    });

    $(document).on('click', '.btndelete', function () {
        debugger;
        if (confirm('Are you sure you wish to Delete this retailer?')) {
            var RetailerId = $(this).attr("data-id");
            var IsActive = $(this).attr("data-active");
            $.ajax({
                url: '@Url.Action("DeleteRetailer")',
                type: 'POST',
                data: { 'ID': RetailerId, 'IsActive': IsActive },
                cache: false,
            }).done(function (result) {
                debugger;
                if (result == true) {
                    alert("Retailer Deleted successfully.");
                    location.reload();
                }

            });
        }
        else {

        }
    });

</script>
