@model Metizsoft.Data.ViewModal.DCRResponse
@{
    ViewBag.Title = "DCRReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">DCR</h3>
    </div>

    <form class="form-horizontal" id="frmdoctor">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="AssignedDate" class="col-sm-4 control-label">From</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="txtfrom">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="AssignedDate" class="col-sm-4 control-label">To</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="txtTo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="WorkType" class="col-sm-4 control-label">Work Type</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.WorkTypeId, new SelectList(ViewBag.WorkType, "WorkTypeId", "WorkType"), "Select Work Type", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Area" class="col-sm-4 control-label">User</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.User, "Id", "FullName"), "Select User", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Area" class="col-sm-4 control-label">Head Quater</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.AreaID, new SelectList(ViewBag.Area, "AreaId", "AreaName"), "Select HeadQuater", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Area" class="col-sm-4 control-label">Area</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.SubAreaId, new SelectList(ViewBag.SubArea, "AreaId", "SubAreaName"), "Select Area", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Area" class="col-sm-4 control-label">Work With</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.WorkWithId, new SelectList(ViewBag.WorkWith, "RoleId", "RoleName"), "Select WorkWith", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btncancel" class="btn btn-default">Cancel</button>
                <button type="button" id="btnsearch" class="btn btn-info">Search</button>
            </div>
        </div>

    </form>

    <div id="lstDCR">

    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    function loadhtml() {
        //debugger;
        var model = new Object();
        model.StartDate = $("#txtfrom").val();
        model.EndDate = $("#txtTo").val();
        model.WorkTypeId = $("#WorkTypeId").val();
        model.UserId = $("#UserId").val();
        model.AreaID = $("#AreaID").val();
        model.SubAreaId = $("#SubAreaId").val();
        model.WorkWithId = $("#WorkWithId").val();
        $.ajax({
            url: '@Url.Action("DCRReportList")',
            type: 'POST',
            data: { 'model': model },
            cache: false,
        }).done(function (result) {
            $('#lstDCR').html(result);
        });
    }

    $("#btnsearch").click(function () {
        loadhtml();
    });

    $("#btncancel").click(function () {
        clearform();
    });

    function clearform() {
        $("#frmdoctor").find("input").val("");
        $("#WorkTypeId").val("").trigger("change");
        $("#UserId").val("").trigger("change");
        $("#AreaID").val("").trigger("change");
        $("#SubAreaId").val("").trigger("change");
        $("#WorkWithId").val("").trigger("change");
        $("#ListDataTable").remove();
    }
</script>







