@model List<Metizsoft.Data.ViewModal.DoctorFieldUserResponse>

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Doctor Field User Report List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-scrollable1">
        <table id="ListDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Doctor Code</th>
                    <th>Doctor Name</th>
                    <th>GradeName</th>
                    <th>Field User</th>
                    <th>Head Quater</th>
                    <th>Area </th>
                    <th>CategoryName</th>
                    <th>VisitSection</th>
                    <th>ProductName</th>
                    <th>ProductType</th>
                    <th>Division</th>
                    <th>RxType</th>
                    <th>MeasureIn</th>
                    <th>StrangthIn</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td id="row" @item.DoctorReportId>
                            @item.DoctorCode
                        </td>
                        <td>
                            @item.DoctorName
                        </td>
                        @if (item.GradeName == 1)
                        {
                            <td> VP </td>
                        }
                        else if (item.GradeName == 2)
                        {
                            <td> VIP </td>
                        }
                        else
                        {
                            <td> VVIP </td>
                        }

                        <td>
                            @item.CreatedBy
                        </td>
                        <td>
                            @item.AreaName
                        </td>
                        <td>
                            @item.SubAreaName
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            @item.VisitSection
                        </td>
                        <td>
                            @item.ProductName
                        </td>
                        <td>
                            @item.ProductType
                        </td>
                        @if (item.CaseName == 1)
                        {
                            <td>Blaze</td>
                        }
                        else if (item.CaseName == 2)
                        {
                            <td>Magnar</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MeasureIn
                        </td>
                        <td>
                            @item.StrangthIn
                        </td>
                    </tr>
                }


            </tbody>

        </table>
    </div>

    <!-- /.box-body -->
</div>
<script>
    $("#ListDataTable").DataTable({
        "scrollX": true
    });
</script>