@model List<Metizsoft.Data.ViewModal.GroupreportResponse>

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Group Report List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-scrollable1">
        <table id="ListDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>                   
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>Division</th>
                    <th>UserName</th>
                    <th>FieldStaffName</th>
                    <th>Manager</th>
                    <th>Contribute To Pool</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td id="row" @item.DoctorId>                            
                            @item.GroupName
                        </td> 
                        <td>
                            @item.GroupCode
                        </td>                      
                        @if (item.CaseName == 1)
                        {
                            <td>Blaze</td>
                        }
                        else if (item.CaseName == 2)
                        {
                            <td>Magnar</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @item.FieldUser
                        </td>
                        <td>
                            @item.FieldStaffName
                        </td>
                        <td>
                            @item.managerName
                        </td>  
                        <td>
                            @item.ContributeToPool
                        </td>                     
                    </tr>
                }


            </tbody>

        </table>
    </div>

    <!-- /.box-body -->
</div>
<script>
    $("#ListDataTable").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort'] /* 1st one, start by the right */

        }]
    });
</script>