@model List<Metizsoft.Data.ViewModal.RetailerResponse>

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Retailer Report List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-scrollable1">
        <table id="ListDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>Retailer Name</th>
                    <th>Retailer Code</th>
                    <th>Address</th>
                    <th>Head Quater</th>
                    <th>Area</th>
                    <th>Zip</th>
                    <th>Mobile</th>
                    <th>Office Phone</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Anniversary</th>
                    <th>Division</th>
                    <th>Product Name</th>
                    <th>Outlet Type</th>
                    <th>Refrence</th>
                    <th>Contact Name</th>
                    <th>Grade Name</th>
                    <th>Short Name</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td id="row" @item.ReatailerReportId>
                            @item.FullName
                        </td>
                        <td>
                            @item.RetailerCode
                        </td>
                        <td>
                            @item.Address
                        </td>

                        <td>
                            @item.AreaName
                        </td>
                        <td>
                            @item.SubAreaName
                        </td>
                        <td>
                            @item.Zip
                        </td>
                        <td>
                            @item.Mobile
                        </td>
                        <td>
                            @item.OfficePhone
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.DOBNull
                        </td>
                        <td>
                            @item.AnniversaryNull
                        </td>
                        @if (item.CaseName == 1)
                        {
                            <td>Blaze</td>
                        }
                        else if (item.CaseName == 2)
                        {
                            <td>Magnar</td>
                        }
                        else 
                        {
                            <td></td>
                        }
                        <td>
                            @item.ProductName
                        </td>
                        @if (item.UserType == 1)
                        {
                            <td>Chemist</td>
                        }
                        else
                        {
                            <td>Stockist</td>
                        }
                        <td>
                            @item.Refrence
                        </td>
                        <td>
                            @item.ContactName
                        </td>
                        @if (item.GradeName == 1)
                        {
                            <td> VP </td>
                        }
                        else if (item.GradeName == 2)
                        {
                            <td> VIP </td>
                        }
                        else if(item.GradeName == 3)
                        {
                            <td> VVIP </td>
                        }
                        else
                        {
                            <td> </td> 
                        }
                        <td>
                            @item.ShortName
                        </td>                       
                    </tr>
                }


            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
<script>
    $("#ListDataTable").DataTable({
        "scrollX": true
    });
</script>