@model List<Metizsoft.Data.ViewModal.SalesTargetResponse>

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Sales Report List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-scrollable1">
        <table id="ListDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>                    
                    <th>UserName</th>
                    <th>Product Name</th>
                    <th>Product Division</th>
                    <th>Area</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                    <th>Year</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td id="row" @item.Id>
                            @item.UserName
                        </td>                       
                        <td>
                            @item.ProductName
                        </td>
                        @if (item.CaseName == 1)
                        {
                            <td> Blaze </td>
                        }
                        else if (item.CaseName == 2)
                        {
                            <td> Magnar </td>
                        }
                        else
                        {
                            <td> </td> 
                        }
                        <td>
                            @item.AreaName
                        </td>
                        <td>
                            @item.Jan
                        </td>
                        <td>
                            @item.Feb
                        </td>
                        <td>
                            @item.Mar
                        </td>
                        <td>
                            @item.Apr
                        </td>
                        <td>
                            @item.May
                        </td>
                        <td>
                            @item.Jun
                        </td>
                        <td>
                            @item.July
                        </td>
                        <td>
                            @item.Aug
                        </td>
                        <td>
                            @item.Sep
                        </td>
                        <td>
                            @item.Oct
                        </td>
                        <td>
                            @item.Nov
                        </td>
                        <td>
                            @item.Dec
                        </td>
                        <td>
                            @item.Year
                        </td>
                    </tr>
                }


            </tbody>

        </table>
    </div>

    <!-- /.box-body -->
</div>
<script>
    
        $('#ListDataTable').dataTable({

            "scrollX": true
        });
   
</script>