@model List<Metizsoft.Data.Modal.ProductType_Mst>

<div class="box-body table-scrollable1">
    <table id="ListDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>Product Type</th>
                <th class="nosort">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row" @item.ProductTypeId>
                    <td>
                        @item.ProductType
                    </td>

                    <td>
                        <a style="cursor:pointer;" class="btnedit" data-id="@item.ProductTypeId"> Edit </a>
                        <a style="cursor:pointer;" class="btndelete" data-id="@item.ProductTypeId" data-active="@item.IsActive"> Delete </a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $("#ListDataTable").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort'] /* 1st one, start by the right */

        }]
    });

    $("#ListDataTable").on('click', '.btnedit', function () {
        debugger;
        $("#ProductTypeId").val($(this).attr("data-id"));
        $("#ProductType").val($(this).parent().parent().children()[0].innerText.trim());
        $("#btnAdd").text("Update");
        $("html, body").animate({ scrollTop: 0 }, "slow");

    });

    $("#ListDataTable").on('click', '.btndelete', function () {
        debugger;
        if (confirm('Are you sure you wish to Delete this ProductType?')) {
            var ProductTypeId = $(this).attr("data-id");
            var IsActive = $(this).attr("data-active");
            $.ajax({
                url: '@Url.Action("DeleteProductType")',
                type: 'POST',
                data: { 'ID': ProductTypeId, 'IsActive': IsActive },
                cache: false,
            }).done(function (result) {
                debugger;
                if (result == true) {
                    alert("ProductType Deleted successfully.");
                    location.reload();
                }
            });
        }
        else {

        }
    });
</script>
