@model List<Metizsoft.Data.Modal.RxType_mst>

<div class="box-body table-scrollable1">
    <table id="ListDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>Division</th>
                <th>Rx Type</th>
                <th class="nosort">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row" @item.RxTypeId>
                    @if (item.RxType == 1)
                    {
                        <td> Blaze </td>
                    }
                    else
                    {
                        <td> Magnar </td>
                    }

                    <td>
                        @item.Name
                    </td>


                    <td>
                        <a style="cursor:pointer;" class="btnedit" data-name="@item.Name" data-id="@item.RxTypeId" data-type="@item.RxType"> Edit </a>
                        <a style="cursor:pointer;" class="btndelete" data-name="@item.Name" data-id="@item.RxTypeId" data-type="@item.RxType" data-active="@item.IsActive"> Delete </a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $("#ListDataTable").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort'] /* 1st one, start by the right */

        }]
    });

    $("#ListDataTable").on('click', '.btnedit', function () {
        debugger;
        var id = $(this).data("id");
        var type = $(this).data("type");
        var name = $(this).data("name");
        
        $("#RxTypeId").val(id);
        $("#Name").val(name);
        $("#RxType").val(type).trigger('change');
        $("#btnAdd").text("Update");
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });

    $("#ListDataTable").on('click', '.btndelete', function () {
        debugger;
        if (confirm('Are you sure you wish to Delete this RxType?')) {
            var RxTypeId = $(this).attr("data-id");
            var IsActive = $(this).attr("data-active");
            $.ajax({
                url: '@Url.Action("DeleteRxType")',
                type: 'POST',
                data: { 'ID': RxTypeId, 'IsActive': IsActive },
                cache: false,
            }).done(function (result) {
                debugger;
                if (result == true) {
                    alert("RxType Deleted successfully.");
                    location.reload();
                }
            });
        }
        else {

        }
    });
</script>
