@model List<Metizsoft.Service.GroupToFieldUserModel>

<table id="example2" class="table table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
        <tr role="row">
            <th class="sorting_disabled" rowspan="1" colspan="1">User Position</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">User Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Group Type</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Group Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Created By</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Updated By</th>
            <th class="text-center sorting_disabled" rowspan="1" colspan="1">Update Date</th>
            <th class="text-center sorting_disabled" rowspan="1" colspan="1">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    <td>
                        @item.UserPosition
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.GroupTypeName
                    </td>
                    <td>
                        @item.GroupName
                    </td>
                    <td>
                        @item.CreateUserName
                    </td>
                    <td>
                        @item.UpdateUserName
                    </td>
                    <td class="text-center">
                        @item.UpdateOnstr
                    </td>
                    <td class="text-center">
                        <span>
                            <a id="lnkdelete" class="lnkdeallocate" style="cursor:pointer" title="Delete" data-id="@item.Id" data-active="@item.IsActive"><i class="fa fa-trash"></i></a>
                            |
                            <a id="lnkedit" class="lnkallocate" style="cursor:pointer" title="Edit" data-id="@item.Id" data-position="@item.UserPositionId" data-name="@item.UserId" data-grouptype="@item.GrouptypeID" data-group="@item.GroupID"><i class="fa fa-edit"></i></a>
                        </span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">
                    No Record Found
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $("#example2").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });


    $(document).on('click', ".lnkallocate", function () {
        debugger;
        var id = $(this).data("id");
        var position = $(this).data("position");
        var name = $(this).data("name");
        var GroupType = $(this).data("grouptype");
        var Group = $(this).data("group");

        $("#Id").val(id);
        $("#hdnusername").val(name);
        $("#hdnGrupId").val(Group);
        $("#RoleId").val(position).trigger('change');
        $("#ddlGroupType").val(GroupType).trigger('change');
      
        $("#btnSave").text("Update");
        $("html, body").animate({ scrollTop: 0 }, "slow");
    })


    //$("#example2").DataTable();
    $(document).on('click', ".lnkdeallocate", function () {
        debugger;
        if (confirm('Are you sure you wish to Delete this FieldUser?')) {
            var Id = $(this).data('id');
            var IsActive = $(this).data('active');
            $.ajax({
                url: '@Url.Action("DeleteGroupToFieldUser")',
                type: 'POST',
                data: { 'Id': Id, 'IsActive': IsActive },
                cache: false,
            }).done(function (result) {
                debugger;
                if (result == true) {
                    alert("User Deleted successfully.");
                    location.reload();
                }
                location.reload();
            });
        }
        else {

        }
    })

</script>
