@model List<Metizsoft.Service.Models.Group_MstModel>
<table id="example2" class="table table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
        <tr role="row">
            <th class="sorting_disabled" rowspan="1" colspan="1">User Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Group Type</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Group Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1">Created By</th>
            @*<th class="sorting_disabled" rowspan="1" colspan="1">Created By</th>*@
            <th class="sorting_disabled" rowspan="1" colspan="1">Update By</th>
            <th class="text-center sorting_disabled" rowspan="1" colspan="1">Update Date</th>
            <th class="text-center sorting_disabled" rowspan="1" colspan="1">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.GroupTypeName
                    </td>
                    <td>
                        @item.GroupName
                    </td>
                    @*<td>
                            @item.CreateUserName
                        </td>*@
                    <td>
                        @item.CreateUserName
                    </td>
                    <td>
                        @item.UpdateUserName
                    </td>
                    <td class="text-center">
                        @item.UpdateOnstring
                    </td>
                    <td class="text-center">
                        <span>
                            <a id="lnkdelete" class="lnkdeallocate" data-groupid="@item.GroupID" data-grouptypeid="@item.GroupTypeID" data-alloctionid="@item.AllocationID" title="Active"><i class="fa fa-trash"></i></a>

                        </span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    No Record Found
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $("#example2").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });
    //$("#example2").DataTable();
    $(document).on('click', ".lnkdeallocate", function () {
        debugger;
        if (confirm('Are you sure you wish to Delete this GroupAllocation?')) {
            var GroupID = $(this).data('groupid');
            var GroupTypeID = $(this).data('grouptypeid');
            var AlloctionID = $(this).data('alloctionid');
            $.ajax({
                url: '@Url.Action("DeleteAlloction")',
                type: 'POST',
                data: { 'GroupID': GroupID, 'GroupTypeID': GroupTypeID, 'AlloctionID': AlloctionID },
                cache: false,
            }).done(function (result) {
                if (result == true) {
                    alert("Group Deleted successfully.");
                    location.reload();
                }
                location.reload();
            });
        }
        else {

        }
    })
</script>
